<p id="notice"><%= notice %></p>

<p>
  <b>Eating day:</b>
  <%= @meal.eating_day %>
</p>

<p>
  <b>Menu description:</b>
  <%= @meal.menu_description %>
</p>


<%= link_to 'Edit', edit_meal_path(@meal) %> |
<%= link_to 'Back', meals_path %>
